<input #taskField />
<button (click)="addTask(taskField.value)">Add task</button>

<h2>Tasks yet to be completed</h2>
<ol>
  <span *ngFor="let task of tasks"><li *ngIf="(!task.completed)" (click)="completeTask(task.id, task.title, true)">{{task.title}}</li></span>
</ol>

<h2>Completed tasks</h2>
<ol>
  <span *ngFor="let task of tasks">
    <li *ngIf="(task.completed)">
      <span (click)="completeTask(task.id, task.title, false)">{{task.title}}</span> 
      <span (click)="deleteTask(task.id)">(DELETE)</span>
    </li>
  </span>
</ol>
